<div ng-controller="CitaController as cc">

	<div class="toolbar">
		<div class="toolbar__left mr">
            <a href="/#/" class="btn btn--l btn--white btn--icon" lx-ripple>
                <i class="mdi mdi--arrow-back"></i>
            </a>
        </div>
	
		<span class="toolbar__label fs-title">Post</span>
	</div>

<div class="content">

	<h1>Usuario:</h1>
	<p>DNI {{cc.cita.usuario.dni}}</p>
	<p>Nombre {{cc.cita.usuario.nombre}} {{cc.cita.usuario.apellidos}}</p>
	<p>By {{cc.cita.usuario.fechaNac}}</p>
	
	<h1>Hospital</h1>
	<p>{{cc.cita.hospital.nombre}}</p>
	<p>calle {{cc.cita.hospital.calle}} en {{cc.cita.hospital.poblacion}}, {{cc.cita.hospital.pais}}</p>
	<p>{{cc.cita.hospital.nTelefono}}</p>
	
	<h1>Medico</h1>
	<p>{{cc.cita.medico.nColegiado}}</p>
	<p>{{cc.cita.medico.nombre}} {{cc.cita.medico.apellidos}}</p>
	<p>{{cc.cita.medico.especialidad}}</p>
	
	<div class="grid">
		<a href="" type="submit" class="btn btn--m btn--blue btn--raised" lx-ripple style="float: right; margin-top: 2em;" ng-click="cc.deleteCita(cc.cita)">Delete</a>
	</div>
</div>
	
</div>