<div ng-app>
    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#/" class="smothscroll">Home</a></li>
  		            <li style="float:right;"><a href="#/" >Login</a></li>
  		           <li style="float:right;"><a href="#/registro" data-toggle="modal" >Registro</a></li>
  		
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
            
      </br></br>
            
            <table class="table table-striped">
                <thead>
                <TR> 
                    <TH>#</TH> 
                   <TH>Cabereca 1</TH> 
                   <TH>Cabereca 2</TH> 
                   <TH>Cabereca 3</TH> 
                </TR> 
                    </thead>
                <TR> 
                    <TD>1</TD>
                   <TD>Dato </TD> 
                   <TD>Dato </TD> 
                   <TD>Dato </TD> 
                </TR> 
                <TR>
                    <TD>2</TD>
                   <TD>Dato </TD> 
                   <TD>Dato </TD> 
                   <TD>Dato </TD> 
                </TR> 
                <TR>
                    <TD>3</TD>
                   <TD>Dato </TD> 
                   <TD>Dato </TD> 
                   <TD>Dato </TD> 
                </TR>
  ...
            </table>
</div>