<div ng-app ng-controller="UserController as uc">    
    <div id="navigation" class="navbar navbar-default navbar-fixed-top">  
        <div class="container">   
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#/" class="smothscroll">Home</a></li>
  		            <li style="float:right;"><a href="#/" >Login</a></li>
                    <li style="float:right;"><a href="#/registro" data-toggle="modal" >Registro</a></li>
                    </div><!--/.nav-collapse -->
            </div>
        </div>
        <div ng-controller="NewCitaController as vm" id="cita" style="align:center;">
            <div class="container" id="contenedor-crearcitas">
                <div ng-controller="HospitalListController as hm" ng-controller="HospitaController as hc">
                    <div clas="raw">
                        <div class="col-md-4">
                            <h1><b> Concerta tu cita</b></h1>
                        
                            <form class="form-group" ng-submit="vm.addCita(vm.newCita)">
                                <div class="form-group">
                                    <label >Introduce la fecha </label>
                                    <input type="text" placeholder="dd-mm-aa" ng-model="vm.newCita.fechaCita"/>
                                </div>
                            
                                <div class="form-group">
                                    <label for="option">Selecciona hospital:</label>
                                    <select  class="form-group" ng-model="vm.newCita.hospital" ng-options="hospital.nombre for hospital in hm.hospitales">
                                    </select>
                                </div>
                                
                                
                            
                            <div ng-controller="MedicoListController as ml">
                                <div class="form-group">
                                    <label for="option">Selecciona especialista:</label> 
                                    <select class="form-group" ng-model="vm.newCita.medico" ng-options="medico.nombre for medico in ml.medicos">
                                    </select>
                                </div>
                            </div>
                            <div id="botoncita">
                                <button type="submit" id="botonlog" class="btn btn-large btn-success" >Concertar cita</button>    
                            </div> 

                        </form>
                    </div>
                    <div class="col-md-8 ">
                        <div class="modal-dialog pull-left"id="cuadroencita">
                            <div class="modal-content">

                                <div class="container" >
                                    <div class="row">
                                        <div class="col-sm-6 ">
                                            <strong><h2 >Datos de hospital</h2></strong>
                                            <strong><h3>Nombre: {{hc.hospital.nombre}}</h3></strong>
                                            <strong><h3>Calle: {{hc.hospital.calle}}</h3></strong>
                                            <strong><h3>Poblacion: {{uc.usuario.DNI}}</h3></strong>
                                            <strong><h3>Pais: {{uc.usuario.fechaNac}}</h3></strong>
                                            <strong><h3>Numero de telefono: {{uc.usuario.email}}</h3></strong>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
