<div class="top-content" ng-controller="NewMedicoController as mm">
    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>NoInsane</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" class="smothscroll">Home</a></li>
  		            <li style="float:right;"><a href="#login" >Login</a></li>
  		           <li style="float:right;"><a href="#registro"data-toggle="modal" >Registro</a></li>
  		
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
            
            </br></br></br>
      <div id="cita" style="align:center;">     
      <h3> Nuevo hospital</h3>

<form method="POST">
    Introduce el nombre:<input type="text" style="width: 17%;"class="form-control" name="nombrehospital"placeholder="Introduce el nombre..." required></br>
    
Introduce la dirección:<input type="text" style="width: 17%;"class="form-control" name="direccion"placeholder="Introduce la direccion..." required></br>

Introduce el número de telefono:<input type="text" style="width: 17%;"class="form-control" name="telefono"placeholder="Introduce el número de teléfono..." required></br>

Introduce la localidad:<input type="text" style="width: 17%;"class="form-control" name="localidad"placeholder="Introduce la localidad..."required></br>

   <button id="botonlog" class="btn btn-large btn-success" ng-disabled="forma.$invalid">Crear hospital</button>    

</form>

<div class="form-bottom">
			                    <form ng-submit="mm.addMedico(mm.newMedico)" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name" label="nombre">Nombre</label>
			                        	<input type="text" name="form-first-name" ng-model="mm.newMedico.nombre" placeholder="Nombre..." class="form-first-name form-control" id="form-first-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name" label="apellidos">Apellidos</label>
			                        	<input type="text" name="form-last-name" ng-model="mm.newMedico.apellidos" placeholder="Apellidos..." class="form-last-name form-control" id="form-last-name">
			                        </div>
			                       
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">Número de colegiados</label>
			                        	<input type="text" name="form-email" ng-model="mm.newMedico.nColegiado" placeholder="Email..." class="form-email form-control" id="form-email">
                                    </div>
                                    <div class="form-group">
			                    		<label class="sr-only" for="form-first-name" label="DNI">Especialidad</label>
			                        	<input type="text" name="form-dni" ng-model="mm.newMedico.especialidad" placeholder="DNI..." class="form-first-name form-control" id="form-first-name">
			                        </div>
                                   
			                        <button type="submit" class="btn">Registrarse!</button>
			                        </form>
                                   
			                    
		                    </div>
</div> 
	
 </div>
