<div ng-controller="HospitalListController as vm" layout="column" layout-fill>

	<div class="content">

	<div id="new-blog-button">
		<a href="#/newpost" class="btn btn--xl btn--red btn--fab" lx-ripple>
			<i class="mdi mdi--add"></i>
		</a>
	</div>

	<div ng-hide="vm.hospitales && vm.hospitales.length > 0" style="margin:20px">There are no posts yet.</div>

	<ul class="list">
		<li class="list-row list-row--has-primary list-row--has-separator" ng-repeat="hospital in vm.hospitales">
			<a href="/#/post/{{post.id}}">
				<div class="list-primary-tile">
                     <i class="icon icon--l icon--blue icon--circled mdi mdi--insert-drive-file"></i>
                </div>
				<div class="list-content-tile list-content-tile--two-lines">
					
					<table class="table table-striped">
					<thead>
                <TR> 
                    <TH>#</TH> 
                   <TH>Nombre</TH> 
                   <TH>Calle</TH> 
                   <TH>Poblaci&oacuten</TH>
                   <TH>Pa&iacutes</TH>  
                   <TH>N&uacutemero de tel&eacutefono</TH>
                </TR> 
                    </thead>
                <TR> 
                   <TD>{{hospital.idHospital}}</TD>
                   <TD>{{hospital.nombre}}</TD> 
                   <TD>{{hospital.calle}}</TD> 
                   <TD>{{hospital.poblacion}}</TD> 
                   <TD>{{hospital.pais}}</TD>
                   <TD>{{hospital.nTelefono}}</TD>
                </TR>
                </table>
				</div>
			</a>
		</li>
	</ul>
    
    </div>
</div>