<div ng-controller="CitaListController as vm" layout="column" layout-fill>

	<div class="content">

	<div id="new-blog-button">
		<a href="#/newpost" class="btn btn--xl btn--red btn--fab" lx-ripple>
			<i class="mdi mdi--add"></i>
		</a>
	</div>


	<ul class="list">
		<li class="list-row list-row--has-primary list-row--has-separator" ng-repeat="cita in vm.citas">
			<a href="/#/hospital/{{hospital.id}}">
				<div class="list-primary-tile">
                     <i class="icon icon--l icon--blue icon--circled mdi mdi--insert-drive-file"></i>
                </div>
				<div class="list-content-tile list-content-tile--two-lines">
					
					<table class="table table-striped">
					<thead>
                <TR> 
                    <TH>#</TH> 
                   <TH>Nombre</TH> 
                   <TH>Calle</TH> 
                   <TH>Poblaci&oacuten</TH>
                   <TH>Pa&iacutes</TH>  
                   <TH>N&uacutemero de tel&eacutefono</TH>
                </TR> 
                    </thead>
                <TR> 
                   <TD>{{cita.idCita}}</TD>
                   <TD>{{cita.Usuario.nombre}}</TD> 
                   <TD>{{cita.Medico.nombre}}</TD> 
                   <TD>{{hospital.poblacion}}</TD> 
                   <TD>{{hospital.pais}}</TD>
                   <TD>{{hospital.nTelefono}}</TD>
                </TR>
                </table>
                	<a href="" type="submit" class="btn btn--m btn--blue btn--raised" lx-ripple style="float: right; margin-top: 2em;" ng-click="vm.deleteCita(cita)">Delete</a>
                
				</div>
			</a>
		</li>
	</ul>
    
    </div>
</div>