<div ng-controller="LogController as mw" class="content">
	<div id="navigation" class="navbar navbar-default navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
		        </div>
		        <div class="navbar-collapse collapse">
		          
	                <ul class="nav nav-tabs">
	                    
	  		           <li> <a href="#/" ><button id="micuenta" class="button btn btnBold">Volver</button></a></li>
	  		            
	  		
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>
	
	<div class="inner-bg"style="margin-right:400px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Introduce tus datos de usuario</h3>
                            		
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form ng-submit="mw.login()" class="registration-form">
			                    	
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">Email</label>
			                        	<input type="text" name="form-email" ng-model="mw.maillog" placeholder="Email..." class="form-email form-control" id="form-email">
                                    </div>
                                    
                                    <div class="form-group">
			                        	<label class="sr-only" for="form-password">Contraseña</label>
			                        	<input type="password" name="form-password" ng-model="mw.passlog" placeholder="contrasena..." class="form-password form-control" id="form-password">
                                    </div>
			                        <button type="submit" class="btn">Inicia sesion</button>
                                    
			                    </form>
		                    </div>
                        </div>                    
                    
                    </div>
                </div>
            </div>
</div>
