<div ng-controller="MedicoController as mm">

	

<div class="content">
	
	
</div>

			
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="container" id="conten">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-offset-4">
                                <strong><h1 >Datos de medico</h1></strong>
                                <strong><h3>Nombre: {{mm.medico.nombre}}</h3></strong>
                               	<strong><h3>Apellidos: {{mm.medico.apellidos}}</h3></strong>
                               	<strong><h3>Numero de colegiado: {{mm.medico.nColegiado}}</h3></strong>
                               	<strong><h3>Especialidad: {{mm.medico.especialidad}}</h3></strong>
                                		<div id="botonborrar"style="margin-left:225px;margin-bottom:10px">
									<a  href="" type="submit" class="btn btn--m btn--blue btn--raised"
										 margin-top: 2em;" ng-click="uc.deleteUsuario(uc.usuario)">Eliminar</a>
										 
									</div>
									<div class="toolbar__left mr">
							           <button class="btn btn--m btn--blue btn--raised"> <a href="/#/paneladmin" class="btn btn--l btn--white btn--icon" lx-ripple>
							                <i class="mdi mdi--arrow-back"></i>
							            </a></button>
							        </div>
                            </div>
                        </div>
                    </div>
                </div>
            

        </div>
	
</div>