<div id="pag" ng-app>
    <div class="header">
        <div class="wrap">
            <div id="navigation" class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#/" class="smothscroll">Home</a>
                            </li>
                            <li style="float:right;">
                                <button class="btn" data-toggle="modal" data-target="#popupregistro">Login</button>
                            </li>
                            <li style="float:right;"><a href="#/registro" data-toggle="modal">Registro</a>
                            </li>
                            <li style="float:right;"><a href="#/perfilusuario" data-toggle="modal">Perfil</a>
                            </li>

                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>



            <div class="header_top">

                <div class="header_top_right">
                    <div class="search_box">
                        <span>Buscar</span>
                        <form>
                            <input type="text" value="">
                            <input type="submit" value="">
                        </form>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <script type="text/javascript">
            
            function mostrarFrecuentes() {

                document.getElementById('medicos').style.display = 'none';
                document.getElementById('hospitales').style.display = 'none';
                document.getElementById('citas').style.display = 'none';
                document.getElementById('usuarios').style.display = 'none';

                document.getElementById('frecuentes').style.display = 'block';
            }
            
                function mostrarUsuarios() {

                    document.getElementById('medicos').style.display = 'none';
                    document.getElementById('hospitales').style.display = 'none';
                    document.getElementById('citas').style.display = 'none';
                    document.getElementById('frecuentes').style.display = 'none';

                    document.getElementById('usuarios').style.display = 'block';
                }

                function mostrarMedicos() {

                    document.getElementById('usuarios').style.display = 'none';
                    document.getElementById('hospitales').style.display = 'none';
                    document.getElementById('citas').style.display = 'none';
                    document.getElementById('frecuentes').style.display = 'none';

                    document.getElementById('medicos').style.display = 'block';
                }

                function mostrarHospitales() {

                    document.getElementById('usuarios').style.display = 'none';
                    document.getElementById('medicos').style.display = 'none';
                    document.getElementById('citas').style.display = 'none';
                    document.getElementById('frecuentes').style.display = 'none';


                    document.getElementById('hospitales').style.display = 'block';
                }

                function mostrarCitas() {

                    document.getElementById('usuarios').style.display = 'none';
                    document.getElementById('medicos').style.display = 'none';
                    document.getElementById('hospitales').style.display = 'none';
                    document.getElementById('frecuentes').style.display = 'none';


                    document.getElementById('citas').style.display = 'block';
                }
            </script>

            <div class="navigation">
                <nav>
                    <ul>
                      
                        <li><a href=""><span  class=""><i class="icon "></i></span>Servicios</a>
                        </li>
                        <li onClick="mostrarFrecuentes()"><a href=""><span class=""><i class="icon "></i></span>Preguntas frecuentes</a>
                        </li>
                        
                       
                        <li><a href=""><span class=""><i class="icon "></i></span>Acciones administrativas</a>
                            <ul>
                                <li onClick="mostrarUsuarios()"><a href="">Lista usuarios</a></li>
                                <li onClick="mostrarMedicos()"><a href="">Lista de m&eacutedicos</a></li>
                                <li onClick="mostrarHospitales()"><a href="">Lista de hospitales</a></li>
                                <li onClick="mostrarCitas()"><a href="">Lista de citas</a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>
                <span class="left-ribbon"><img src="assets/img/left-fold.png"/> </span>
                <span class="right-ribbon"><img src="assets/img/right-fold.png"/> </span>
            </div>

        </div>

        <div class="modal fade" id="popupregistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
                        </button>
                    </div>
                    <div class="container" id="conten">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-offset-4">
                                <h1 class="text-center login-title">Entra con tu cuenta</h1>
                                <div class="account-wall">
                                    <img class="profile-img" src="img/login.png" alt="">
                                    <form class="form-signin">
                                        <input type="text" id="inputemail" class="form-control" placeholder="Email" required>
                                        <input type="password" class="form-control" placeholder="Password" required>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                                            Entrar</button>
                                        <label class="checkbox pull-left">
                                            <input type="checkbox" value="remember-me"> Recuerdame
                                        </label>
                                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                    </form>
                                </div>
                                <a href="#" class="text-center new-account">Create una cuenta </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div ng-controller="NewMedicoController as mm"class="modal fade" id="popupnuevomedico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
                        </button>
                    </div>
                    <div id="formmedicos"style="width:575px;"class="form-bottom">
				<h3> Nuevo Medico</h3>
                    <form ng-submit="mm.addMedico(mm.newMedico)" class="registration-form">
                    	<div class="form-group">
                        	<label class="sr-only" for="form-email">N&uacute;mero de colegiado</label>
                        	<input type="text" name="form-email" ng-model="mm.newMedico.nColegiado" placeholder="Numero de colegiados..." class="form-email form-control" id="form-email">
                        </div>
                    	<div class="form-group">
                    		<label class="sr-only" for="form-first-name" label="nombre">Nombre</label>
                        	<input  type="text" name="form-first-name" ng-model="mm.newMedico.nombre" placeholder="Nombre..." class="form-first-name form-control" id="form-first-name">
                        </div>
                        <div class="form-group">
                        	<label class="sr-only" for="form-last-name" label="apellidos">Apellidos</label>
                        	<input type="text" name="form-last-name" ng-model="mm.newMedico.apellidos" placeholder="Apellidos..." class="form-last-name form-control" id="form-last-name">
                        </div>
                       
                        
                        <div class="form-group">
                    		<label class="sr-only" for="form-first-name" label="DNI">Especialidad</label>
                        	<input type="text" name="form-dni" ng-model="mm.newMedico.especialidad" placeholder="Especialidad..." class="form-first-name form-control" id="form-first-name">
                        </div>
                                
                        <button type="submit" class="btn">Crear medico</button>
                        </form>
                                
                    
                   </div>
                </div>
            </div>

        </div>

    </div>
    <div id="cuerpo">
    
        <div class="col-md-12 col-md-offset-1" id="frecuentes"style="display:none;">
				
				<div class="container">
                    <div class="peage-header">
                        <h2>Puedo solicitar cita sanitaria online los 365 d&iacute;as del a&ntilde;o?</h2>
                    </div>
	                <p>S&iacute;. Dado que es un servicio web, este servicio est&aacute; activo 24 horas al d&iacute;a.
	                </p>
                </div>
                
                <div class="container">
			        <div class="peage-header"><h2>C&oacute;mo puedo anular una cita?</h2>
	              	     
                    </div>
	                <p>
	                Entrando con tu perfil de usuario, busca la opci&oacuten; "anular cita"  
	                </p>
                </div>
                
                <div class="container">
		                <div class="peage-header">
                            <h2>Puedo modificar una cita ya confirmada para cambiar la fecha de consulta?           	</h2>
                        </div>
		              	<p>NO, si utilizas este servicio y quieres cambiar una cita, debes anular 
		                la cita existente y solicitar una cita nueva.</p>            
					</div>
					
				<div class="container">	
					 <div class="peage-header">
                         <h2>C&oacute;mo tengo que hacer para solicitar cita para dos personas diferentes?</h2>
                         <p>La gesti&iacute;n de la citaci&oacute;n por Internet es un proceso individual 
                             que exige que se introduzcan los datos de cada usuario para la reserva de la cita. Por lo 
                             tanto, debe registrarse con 2 cuentas de usuario diferentes para que cada uno solicite su 
                             correspondiente cita.</p>
                    </div>	
      
				</div>
            </div>

        <div id="usuarios" style="display:none;" ng-controller="UserListController as vm" layout="column" layout-fill>



            <div class="content">

                <div ng-hide="vm.usuarios && vm.usuarios.length > 0" style="margin:20px">There are no posts yet.</div>

                <ul class="list">
                    <li class="list-row list-row--has-primary list-row--has-separator" ng-repeat="usuario in vm.usuarios">
                        
                            <div class="list-primary-tile">
                                <i class="icon icon--l icon--blue icon--circled mdi mdi--insert-drive-file"></i>
                            </div>
                            <div class="list-content-tile list-content-tile--two-lines">

                                <table class="table table-striped">
                                    <thead>
                                        <TR>
                                            <TH>#</TH>
                                            <TH>Nombre</TH>
                                            <TH>Apellidos</TH>
                                            <TH>Fecha de nacimiento</TH>
                                            <TH>Correo electr&oacutenico</TH>
                                            <TH>Contrase&ntildea</TH>
                                        </TR>
                                    </thead>
                                    <TR>
                                        <TD>{{usuario.id}}</TD>
                                        <TD>{{usuario.nombre}}</TD>
                                        <TD>{{usuario.apellidos}}</TD>
                                        <TD>{{usuario.fechaNac}}</TD>
                                        <TD>{{usuario.email}}</TD>
                                        <TD>{{usuario.pass}}</TD>
                                    </TR>
                                </table>
                       
                		<button><a href="/#/usuario/{{usuario.id}}"><button class="btn" >Ver</button></a>

                        </div>

                    </li>
                </ul>

            </div>
        </div>
        <div id="medicos" style="display:none;" ng-controller="MedicoListController as mm" layout="column" layout-fill>



            <div class="content">


                <div ng-hide="mm.medicos && mm.medicos.length > 0" style="margin:20px">There are no posts yet.</div>


                <ul class="list">
                    <li class="list-row list-row--has-primary list-row--has-separator" ng-repeat="medico in mm.medicos">
                        <a href="/#/medico/{{medico.idMedico}}">
                            <div class="list-primary-tile">
                                <i class="icon icon--l icon--blue icon--circled mdi mdi--insert-drive-file"></i>
                            </div>
                            <div class="list-content-tile list-content-tile--two-lines">

                                <table class="table table-striped">
                                    <thead>
                                        <TR>
                                            <TH>#</TH>
                                            <TH>Numero colegiado</TH>
                                            <TH>Nombre</TH>
                                            <TH>Apellidos</TH>
                                            <TH>Especialidad</TH>
                                        </TR>
                                    </thead>
                                    <TR>
                                        <TD>{{medico.id}}</TD>
                                        <TD>{{medico.nColegiado}}</TD>
                                        <TD>{{medico.nombre}}</TD>
                                        <TD>{{medico.apellidos}}</TD>
                                        <TD>{{medico.especialidad}}</TD>
                                    </TR>
                                </table>
                <button><a href="/#/medico/{{medico.id}}"><button class="btn" >Ver</button></a>
                            </div>
                        </a>
                    </li>
                </ul>
				  <button style="margin-left:400px;"class="btn" data-toggle="modal" data-target="#popupnuevomedico">Nuevo medico</button>
				

            </div>
        </div>
        <div id="hospitales" style="display:none;" ng-controller="HospitalListController as vm" layout="column" layout-fill>

            <div class="content">

                <div ng-hide="vm.hospitales && vm.hospitales.length > 0" style="margin:20px">There are no posts yet.</div>

                <ul class="list">
                    <li class="list-row list-row--has-primary list-row--has-separator" ng-repeat="hospital in vm.hospitales">
                            <div class="list-primary-tile">
                                <i class="icon icon--l icon--blue icon--circled mdi mdi--insert-drive-file"></i>
                            </div>
                            <div class="list-content-tile list-content-tile--two-lines">

                                <table class="table table-striped">
                                    <thead>
                                        <TR>
                                            <TH>#</TH>
                                            <TH>Nombre</TH>
                                            <TH>Calle</TH>
                                            <TH>Poblaci&oacuten</TH>
                                            <TH>Pa&iacutes</TH>
                                            <TH>N&uacutemero de tel&eacutefono</TH>
                                        </TR>
                                    </thead>
                                    <TR>
                                        <TD>{{hospital.id}}</TD>
                                        <TD>{{hospital.nombre}}</TD>
                                        <TD>{{hospital.calle}}</TD>
                                        <TD>{{hospital.poblacion}}</TD>
                                        <TD>{{hospital.pais}}</TD>
                                        <TD>{{hospital.nTelefono}}</TD>
                                    </TR>
                                </table>
                <button><a href="/#/hospital/{{hospital.id}}"><button class="btn" >Ver</button></a>
                            </div>
                    </li>
                </ul>
			
            </div>
        </div>
        <div id="citas" style="display:none;" ng-controller="CitaListController as vm" layout="column" layout-fill>
            <div class="content">


                <div ng-hide="vm.citas && vm.citas.length > 0" style="margin:20px">There are no posts yet.</div>

                <ul class="list">
                    <li class="list-row list-row--has-primary list-row--has-separator" ng-repeat="cita in vm.citas">
                       
                            <div class="list-primary-tile">
                                <i class="icon icon--l icon--blue icon--circled mdi mdi--insert-drive-file"></i>
                            </div>
                            <div class="list-content-tile list-content-tile--two-lines">


                                <table class="table table-striped">
                                    <thead>
                                        <TR>
                                            <TH>#</TH>
                                            <TH>Usuario</TH>
                                            <TH>Fecha</TH>
                                            <TH>Medico</TH>
                                            <TH>Hospital</TH>
                                        </TR>
                                    </thead>
                                    <TR>
                                     
                                        <TD>{{cita.id}}</TD>
                                        <TD>{{cita.usuario.nombre}}</TD>
                                        <TD>{{cita.fecha}}</TD>
                                        <TD>{{cita.medico.nombre}}</TD>
                                        <TD>{{cita.hospital.nombre}}</TD>
                                     
                                    </TR>
                                </table>
                <button><a href="/#/cita/{{cita.id}}"><button class="btn" >Ver</button></a>
                        
                        </div>

                    </li>
                </ul>

            </div>
        </div>

    </div>


