<div id="pag" ng-app>
	
  	  		<div class="wrap">
                <div id="navigation" class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav nav-tabs">
                        	<li> <a href="#/" ><button id="micuenta" class="button btn btnBold">Volver</button></a></li>
                        
  		     
                           

                    </div><!--/.nav-collapse -->
                  </div>
                </div>
                
				     
  		    
                </div>
        
        <div id="cuerpo"ng-controller="LogController as vm">
            <div id="datos-perfil">
                <div class="container well">
                    <div class="row">
                        <div class="col-xs-8"><h2>Tu Perfil de Usuario</h2>
                        </div>
                        <div class="col-xs-4">
                            <img src="../img/esperando.jpg" class="img-responsive" alt="no hay imagen">
                        </div>
                    </div>
                    <br /><br />
                     <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup">Nombre</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" id="formGroup" placeholder="{{vm.usuario.nombre}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup">Apellidos</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" id="formGroup"placeholder="{{vm.usuario.apellidos}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup" id="tel">Teléfono</label>
                            <div class="input-group col-sm-3">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                <input class="form-control" type="text" id="formGroup"placeholder="{{vm.usuario.fechaNac}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup" id="tel">Correo electrónico</label>
                            <div class="input-group col-sm-3">
                                <span class="input-group-addon">@</span>
                                <input class="form-control" type="text" id="formGroup"placeholder="{{vm.usuario.email}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup">Estado</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option>En línea</option>
                                    <option>Ocupado</option>
                                    <option>Ausente</option>
                                    <option>Desconectado</option>    
                                </select>
                            </div>
                        </div>
                         <a href="/#/creacita"><button class="btn center-block" >Solicita tu cita</button></a>
                    </form>
                </div>
            </div>
            
    </div>
</div>
