<div id="pag" ng-app>
	<div class="header">
  	  		<div class="wrap">
                <div id="navigation" class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#/" class="smothscroll">Home</a></li>
  		            <li style="float:right;"><button class="btn" data-toggle="modal" data-target="#popupregistro">Login</button></li>
                           <li style="float:right;"><a href="#/registro" data-toggle="modal" >Registro</a></li>

                    </div><!--/.nav-collapse -->
                  </div>
                </div>
                
                
                
				<div class="header_top">

						<div class="header_top_right">
							  <div class="search_box">
							  	<span>Buscar</span>
					     		<form>
					     			<input type="text" value=""><input type="submit" value="">
					     		</form>
					     		<div class="clear"></div>
					     	</div>
					</div>
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
				<nav>
                    <ul>
                        <li><a href=""><span class=""><i class="icon "></i></span>Perfil/a></li>
                        <li><a href=""><span class=""><i class="icon "></i></span>aasdsdsd</a>
                            <ul>
                                <li><a href="">asdsdsd</a></li>
                                <li><a href="">asdsdsd</a></li>
                                <li><a href="">asdsdsd</a></li>
                            </ul>
                        </li>
                        <li><a href=""><span  class=""><i class="icon "></i></span>asdsdsd</a></li>
                        <li><a href=""><span class=""><i class="icon "></i></span>asdsdsd</a></li>
                        <li><a href=""><span class=""><i class="icon "></i></span>asdsdsd</a></li>
                    </ul>
                </nav>
					 <span class="left-ribbon" ><img src="assets/img/left-fold.png"/> </span> 
      				 <span class="right-ribbon" ><img src="assets/img/right-fold.png"/> </span>    
  		    </div>

   		</div>
   		
   		<div class="modal fade" id="popupregistro" tabindex="-1"role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
				<div class="modal-dialog"> <div class="modal-content"> 
					<div class="modal-header"> 
					
						<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button> 
							 </div> 
							<div class="container"id="conten">
							    <div class="row">
							        <div class="col-sm-6 col-md-4 col-md-offset-4">
							            <h1 class="text-center login-title">Entra con tu cuenta</h1>
							            <div class="account-wall">
							                <img class="profile-img" src="img/login.png"
							                    alt="">
							                <form class="form-signin">
							                <input type="text"id="inputemail" class="form-control" placeholder="Email" required >
							                <input type="password" class="form-control" placeholder="Password" required>
							                <button class="btn btn-lg btn-primary btn-block" type="submit">
							                    Entrar</button>
							                <label class="checkbox pull-left">
							                    <input type="checkbox" value="remember-me">
							                    Recuerdame
							                </label>
							                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
							                </form>
							            </div>
							            <a href="#" class="text-center new-account">Create una cuenta </a>
							        </div>
							    </div>
							</div>
                   </div>
                    </div>
                    
                </div>
               
        </div>
        <div id="cuerpo">
            <div class="container-fluid imagen-centro" >
<div class="row">
                            <div class="col-md-2  cuerpo-buscar">
                                <div class="container ">
                                    <i class="glyphicon icon-buscar"></i><h4>Encuentra tu centro medico</h4>
                                    <form class="contenedor-busqueda">
                                        <div class="row">
                                            <div class="form-group col-md-6 ">
                                                <label for="option">Localidad</label>
                                                <select class="form-control select-cuerpo" id="option">
                                                    <option value="" > dasd</option>
                                                    <option value="" >sadasd </option>
                                                    <option value="" > asdas</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6 ">
                                                <label for="option">Especialidad</label>
                                                <select class="form-control select-cuerpo" id="option">
                                                    <option value="" >sad </option>
                                                    <option value="" >sad </option>
                                                    <option value="" > sdfsd</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">                    
                                            <button class="btn center-block ">Buscar</button>
                                        </div>                   
                                        
                                    </form> 

                                </div>
                            </div>
                            <div class="col-md-4  cuerpo-buscar">
                                <div class="container">
                                    <i class="glyphicon icon-buscar"></i><h4>Informacion sobre hospital</h4>
                                    <form class="contenedor-busqueda">
                                        <div class="form-group">
                                            <label for="option">Hospital</label>
                                            <select class="form-control" id="option">
                                                <option value="" > dasd</option>
                                                <option value="" >sadasd </option>
                                                <option value="" > asdas</option>
                                            </select>
                                        </div>
                                        <div class="form-group">                                  
                                            <button class="btn center-block">Buscar</button>
                                        </div>   
                                    </form>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
            </div>
              <button><a href="/#/creacita"><button class="btn" >Solicita tu cita</button></a>
            
            <footer>

            </footer>
        </div>
</div>
