<div id="pag" ng-app>
	<div class="header">
  	  		<div class="wrap">
                <div id="navigation" class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav nav-tabs">
  		            		<li style="float:right;"><button class="btn" data-toggle="modal" data-target="#popuplogout">Salir</button></li>
                            <li style="float:right;"><a href="#/perfilusuario" data-toggle="modal">Perfil</a>
                            </li>
                           

                    </div><!--/.nav-collapse -->
                  </div>
                </div>
                
				<div class="header_top">

						<div class="header_top_right">
							  <div class="search_box">
							  	<span>Buscar</span>
					     		<form>
					     			<input type="text" value=""><input type="submit" value="">
					     		</form>
					     		<div class="clear"></div>
					     	</div>
					</div>
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
				<nav>
                    <ul>
                        <li onClick="mostrarHome()"><a href=""><span class=""><i class="icon "></i></span>Datos de Usuario</a></li>
                        
                        <li onClick="mostrarServicios()"><a href=""><span  class=""><i class="icon "></i></span>Servicios</a></li>
                        <li onClick="mostrarFrecuentes()"><a href=""><span class=""><i class="icon "></i></span>Preguntas frecuentes</a></li>
                    </ul>
                </nav>
                <span class="left-ribbon" ><img src="assets/img/left-fold.png"/> </span> 
      				 <span class="right-ribbon" ><img src="assets/img/right-fold.png"/> </span>
                    </div>
                </div>
        </div>
        <div id="cuerpo">
            <div id="datos-perfil">
                <div class="container well">
                    <div class="row">
                        <div class="col-xs-8"><h2>Tu Perfil de Usuario</h2>
                        </div>
                        <div class="col-xs-4">
                            <img src="../img/esperando.jpg" class="img-responsive" alt="no hay imagen">
                        </div>
                    </div>
                    <br /><br />
                     <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup">Nombre</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" id="formGroup" placeholder="Tu nombre" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup">Apellidos</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" id="formGroup" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup" id="tel">Teléfono</label>
                            <div class="input-group col-sm-3">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                <input class="form-control" type="text" id="formGroup" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup" id="tel">Correo electrónico</label>
                            <div class="input-group col-sm-3">
                                <span class="input-group-addon">@</span>
                                <input class="form-control" type="text" id="formGroup" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="formGroup">Estado</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option>En línea</option>
                                    <option>Ocupado</option>
                                    <option>Ausente</option>
                                    <option>Desconectado</option>    
                                </select>
                            </div>
                        </div>
                         <a href="/#/creacita"><button class="btn center-block" >Solicita tu cita</button></a>
                    </form>
                </div>
            </div>
            <div class="col-md-12 col-md-offset-1" id="frecuentes"style="display:none;">
				
				<div class="container">
                    <div class="peage-header">
                        <h2>Puedo solicitar cita sanitaria online los 365 d&iacute;as del a&ntilde;o?</h2>
                    </div>
	                <p>S&iacute;. Dado que es un servicio web, este servicio est&aacute; activo 24 horas al d&iacute;a.
	                </p>
                </div>
                
                <div class="container">
			        <div class="peage-header"><h2>C&oacute;mo puedo anular una cita?</h2>
	              	     
                    </div>
	                <p>
	                Entrando con tu perfil de usuario, busca la opci&oacuten; "anular cita"  
	                </p>
                </div>
                
                <div class="container">
		                <div class="peage-header">
                            <h2>Puedo modificar una cita ya confirmada para cambiar la fecha de consulta?           	</h2>
                        </div>
		              	<p>NO, si utilizas este servicio y quieres cambiar una cita, debes anular 
		                la cita existente y solicitar una cita nueva.</p>            
					</div>
					
				<div class="container">	
					 <div class="peage-header">
                         <h2>C&oacute;mo tengo que hacer para solicitar cita para dos personas diferentes?</h2>
                         <p>La gesti&iacute;n de la citaci&oacute;n por Internet es un proceso individual 
                             que exige que se introduzcan los datos de cada usuario para la reserva de la cita. Por lo 
                             tanto, debe registrarse con 2 cuentas de usuario diferentes para que cada uno solicite su 
                             correspondiente cita.</p>
                    </div>	
      
				</div>
            </div>
            <div id="servicios" style="display:none;">
			    <div class="container">
                    <div class="raw">
                        <div class="servic-med">
                            <div class="col-md-3 col-xs-3">
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="citamedica-print"><h2>Concerte su cita Medica</h2>
                                    <a href="#/creacita"><button class="btn-cita"></button></a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            
	        function mostrarHome() {
	
	            document.getElementById('servicios').style.display = 'none';
	            document.getElementById('frecuentes').style.display = 'none';
	            
	
	            document.getElementById('datos-perfil').style.display = 'block';
	        }
            function mostrarFrecuentes() {

                document.getElementById('servicios').style.display = 'none';
                document.getElementById('datos-perfil').style.display = 'none';
                

                document.getElementById('frecuentes').style.display = 'block';
            }
            function mostrarServicios() {

                document.getElementById('frecuentes').style.display = 'none';
                document.getElementById('datos-perfil').style.display = 'none';
                

                document.getElementById('servicios').style.display = 'block';
            }
            
               

               
            </script>
        <footer>    
        </footer>
    </div>
</div>
