<body ng-app>
	<div class="header">
  	  		<div class="wrap">
                <div id="navigation" class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#/" class="smothscroll">Home</a></li>
  		            <li style="float:right;"><button class="btn" data-toggle="modal" data-target="#popupregistro">Login</button></li>
                           <li style="float:right;"><a href="#/registro" data-toggle="modal" >Registro</a></li>

                    </div><!--/.nav-collapse -->
                  </div>
                </div>
                
                
                
				<div class="header_top">

						<div class="header_top_right">
							  <div class="search_box">
							  	<span>Buscar</span>
					     		<form>
					     			<input type="text" value=""><input type="submit" value="">
					     		</form>
					     		<div class="clear"></div>
					     	</div>
					</div>
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
					<ul class="nav">
						<li>
							<a href="index.html">Puticlub</a>
						</li>
						<li  class="test">
							<a href="#">Club alterne</a>
							<ul>
								<li>
									<a href="#">Moraleja</a>
									<ul>
										<li><a href="#">PUTOS</a></li>
										<li><a href="#">PUTAS</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					 <span class="left-ribbon" ><img src="assets/img/left-fold.png"/> </span> 
      				 <span class="right-ribbon" ><img src="assets/img/right-fold.png"/> </span>    
  		    </div>

   		</div>
   		
   		<div class="modal fade" id="popupregistro" tabindex="-1"role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
				<div class="modal-dialog"> <div class="modal-content"> 
					<div class="modal-header"> 
					
						<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button> 
							 </div> 
							<div class="container"id="conten">
							    <div class="row">
							        <div class="col-sm-6 col-md-4 col-md-offset-4">
							            <h1 class="text-center login-title">Entra con tu cuenta</h1>
							            <div class="account-wall">
							                <img class="profile-img" src="img/login.png"
							                    alt="">
							                <form class="form-signin">
							                <input type="text"id="inputemail" class="form-control" placeholder="Email" required >
							                <input type="password" class="form-control" placeholder="Password" required>
							                <button class="btn btn-lg btn-primary btn-block" type="submit">
							                    Entrar</button>
							                <label class="checkbox pull-left">
							                    <input type="checkbox" value="remember-me">
							                    Recuerdame
							                </label>
							                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
							                </form>
							            </div>
							            <a href="#" class="text-center new-account">Create una cuenta </a>
							        </div>
							    </div>
							</div>
   </div>
</body>