<div id="pag" ng-app>
	<div ng-controller="LogController as vm">
	<div class="header">
  	  		<div class="wrap">
                <div id="navigation" class="navbar navbar-default navbar-fixed-top" ng-controller="LogController as vm">
                  <div class="container"><!-- ng-controller="LogController as vm" -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav nav-tabs">
                        <li> <a href="#/registro"><div ng-hide="vm.islog[0]"><button id="micuenta" class="button btn btnBold" >Registro</button></div></a></li>
                        <li> <a href="#/login"><div ng-hide="vm.islog[0]"><button id="micuenta" class="button btn btnBold" >Login</button></div></a></li>
                         
                         <li> <a href="#/paneladmin"><div ng-hide="!vm.islog[1]"><button id="micuenta" class="button btn btnBold" >Administracion</button></div></a></li>
                          
                         <li> <a href="#/perfilusuario"><div ng-hide="!vm.islog[0]"><button id="micuenta" class="button btn btnBold" >Perfil</button></div></a></li>
                         <li> <a href="#/" ><div ng-hide="!vm.islog[0]"><button id="micuenta" class="button btn btnBold"ng-click="vm.logout()">Cerrar sesion</button></div></a></li>
                          
                          
                           

                    </div><!--/.nav-collapse -->
                   
                  </div>
              
                </div>
                
                
                
				<div class="header_top">

						
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
				<nav>
                    <ul>
                        <li onClick="mostrarHome()"><a href=""><span class=""><i class="icon "></i></span>Home</a></li>
                        
                        <div ng-hide="!vm.islog[0]"><li onClick="mostrarServicios()"><a href=""><span  class=""><i class="icon "></i></span>Servicios</a></li></div>
                        <li onClick="mostrarFrecuentes()"><a href=""><span class=""><i class="icon "></i></span>Preguntas frecuentes</a></li>
                    </ul>
                </nav>
					 <span class="left-ribbon" ><img src="assets/img/left-fold.png"/> </span> 
      				 <span class="right-ribbon" ><img src="assets/img/right-fold.png"/> </span>    
  		    </div>

   		</div>
               
        </div>
        <script type="text/javascript">
            
	        function mostrarHome() {
	
	            document.getElementById('servicios').style.display = 'none';
	            document.getElementById('frecuentes').style.display = 'none';
	            
	
	            document.getElementById('home').style.display = 'block';
	        }
            function mostrarFrecuentes() {

                document.getElementById('servicios').style.display = 'none';
                document.getElementById('home').style.display = 'none';
                

                document.getElementById('frecuentes').style.display = 'block';
            }
            function mostrarServicios() {

                document.getElementById('frecuentes').style.display = 'none';
                document.getElementById('home').style.display = 'none';
                

                document.getElementById('servicios').style.display = 'block';
            }
            
               

               
            </script>
        <div class="row" id="cuerpo">
        <div class="container"ng-hide="!vm.islog[0]">
		                <div class="peage-header">
                            <h2>Hola {{vm.usuario.nombre}}</h2>
                        </div>
		              	           
					</div>
		<div ng-hide="vm.islog[0]">
			<h2>Si aun no te has registrado, registrate para contratar nuestros servicios</h2>
		</div>
        <div class="col-md-12 col-md-offset-1" id="frecuentes"style="display:none;">
				
				<div class="container">
                    <div class="peage-header">
                        <h2>Puedo solicitar cita sanitaria online los 365 d&iacute;as del a&ntilde;o?</h2>
                    </div>
	                <p>S&iacute;. Dado que es un servicio web, este servicio est&aacute; activo 24 horas al d&iacute;a.
	                </p>
                </div>
                
                <div class="container">
			        <div class="peage-header"><h2>C&oacute;mo puedo anular una cita?</h2>
	              	     
                    </div>
	                <p>
	                Entrando con tu perfil de usuario, busca la opci&oacuten; "anular cita"  
	                </p>
                </div>
                
                <div class="container">
		                <div class="peage-header">
                            <h2>Puedo modificar una cita ya confirmada para cambiar la fecha de consulta?           	</h2>
                        </div>
		              	<p>NO, si utilizas este servicio y quieres cambiar una cita, debes anular 
		                la cita existente y solicitar una cita nueva.</p>            
					</div>
					
				<div class="container">	
					 <div class="peage-header">
                         <h2>C&oacute;mo tengo que hacer para solicitar cita para dos personas diferentes?</h2>
                         <p>La gesti&iacute;n de la citaci&oacute;n por Internet es un proceso individual 
                             que exige que se introduzcan los datos de cada usuario para la reserva de la cita. Por lo 
                             tanto, debe registrarse con 2 cuentas de usuario diferentes para que cada uno solicite su 
                             correspondiente cita.</p>
                    </div>	
      
				</div>
            </div>
				<div id="servicios" style="display:none;">
				    <div class="container">
                        <div class="raw">
                            <div class="servic-med">
                                <div class="col-md-3 col-xs-3">
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="citamedica-print"><h2>Concerte su cita Medica</h2>
                                        <a href="#/creacita"><button class="btn-cita"></button></a>
                                                    
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-4"></div>
                            </div>
                        </div>
                    </div>
				</div>
            <div class="container-fluid imagen-centro" id="home" >
<div class="row">
                           
                            
                            </div>
                        </div>
            </div>
            
        </div>
</div>
			<footer>
            </footer>

