<html>
<head>
	<link rel="stylesheet" href="../css/styles.css">
	<link href="../assets/css/bootstrap.css" rel="stylesheet">
	 <!-- Custom styles for this template -->
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type='text/css'>
    
</head>
<body ng-app>
    <div id="pag">
	<div class="header">
  	  		<div class="wrap">
                <div id="navigation" class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#/" class="smothscroll">Home</a></li>
                            <li style="float:right;"><a href="#/" >Login</a></li>
                           <li style="float:right;"><a href="#/registro" data-toggle="modal" >Registro</a></li>

                    </div><!--/.nav-collapse -->
                  </div>
                </div>
				<div class="header_top">

						<div class="header_top_right">
							  <div class="search_box">
							  	<span>Buscar</span>
					     		<form>
					     			<input type="text" value=""><input type="submit" value="">
					     		</form>
					     		<div class="clear"></div>
					     	</div>
					</div>
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
				<nav>
                    <ul>
                        <li><a href=""><span class=""><i class="icon "></i></span>asdsdsd</a></li>
                        <li><a href=""><span class=""><i class="icon "></i></span>aasdsdsd</a>
                            <ul>
                                <li><a href="">asdsdsd</a></li>
                                <li><a href="">asdsdsd</a></li>
                                <li><a href="">asdsdsd</a></li>
                            </ul>
                        </li>
                        <li><a href=""><span  class=""><i class="icon "></i></span>asdsdsd</a></li>
                        <li><a href=""><span class=""><i class="icon "></i></span>asdsdsd</a></li>
                        <li><a href=""><span class=""><i class="icon "></i></span>asdsdsd</a></li>
                    </ul>
                </nav>
					 <span class="left-ribbon" ><img src="assets/img/left-fold.png"/> </span> 
      				 <span class="right-ribbon" ><img src="assets/img/right-fold.png"/> </span>    
  		    </div>

   		</div>
   </div>
    <div class="container-fluid imagen-centro" >
        <div>
        </div>
        <div>
        </div>
    </div>
    <div>
        
    </div>
    </div>
</body>
</html>