
            <div class="modal-dialog"style="height:100px;">
                <div class="modal-content"style="height:100px;">
               			 <div class="toolbar__left mr" style="margin-left:10px;margin-top:25px;">
				          <a href="/#/perfilusuario/{{}}" class="btn btn--l btn--white btn--icon" lx-ripple> <button class="btn btn--m btn--blue btn--raised"> 
				                <i class="mdi mdi--arrow-back"></i>
				            </button></a>
				        </div>
                    <font color=\"#black\">La realizacion de la
                     solicitud de la cita se ha asignado correctamente.
                     Apunta las fechas y vuelve a tu perfil de usuario</font>
                    				
                </div>
                
            </div>
