<div class="top-content" ng-controller="NewUserController as um">
			<div id="navigation" class="navbar navbar-default navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#/"><b>NoInsane</b></a>
		        </div>
		        <div class="navbar-collapse collapse">
		          
	                <ul class="nav nav-tabs">
	                    <li class="active"><a href="#/" class="smothscroll">Home</a></li>
	  		            <li style="float:right;"><a href="#/" >Login</a></li>
	  		           <li style="float:right;"><a href="#/registro" data-toggle="modal" >Registro</a></li>
	  		
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>¿Eres cliente de NoInSane?</h3>
                            		<p>Adte cliente:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form ng-submit="um.addUsuario(um.newUsuario)" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name" label="nombre">Nombre</label>
			                        	<input type="text" name="form-first-name" ng-model="um.newUsuario.nombre" placeholder="Nombre..." class="form-first-name form-control" id="form-first-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name" label="apellidos">Apellidos</label>
			                        	<input type="text" name="form-last-name" ng-model="um.newUsuario.apellidos" placeholder="Apellidos..." class="form-last-name form-control" id="form-last-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-date" label>fecha nacimiento</label>
			                        	<input type="text" name="form-email" ng-model="um.newUsuario.fechaNac" placeholder="fecha nacimiento..." class="form-email form-control" id="form-email">
                                    </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">Email</label>
			                        	<input type="text" name="form-email" ng-model="um.newUsuario.email" placeholder="Email..." class="form-email form-control" id="form-email">
                                    </div>
                                    <div class="form-group">
			                    		<label class="sr-only" for="form-first-name" label="DNI">dni</label>
			                        	<input type="text" name="form-dni" ng-model="um.newUsuario.DNI" placeholder="DNI..." class="form-first-name form-control" id="form-first-name">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="form-password">Contraseña</label>
			                        	<input type="password" name="form-password" ng-model="um.newUsuario.pass" placeholder="contrasena..." class="form-password form-control" id="form-password">
                                    </div>
			                        <button type="submit" class="btn">Registrarse!</button>
                                    <span class="li-social">
								        <button  class="btn btn-success"><i class="fa fa-facebook"></i></button>
								        
                                    </span>
			                    </form>
		                    </div>
                        </div>                    
                    
                    </div>
                </div>
            </div>
        </div>