
            <div class="modal-dialog"style="height:100px;">
                <div class="modal-content"style="height:100px;">
               			 <div class="toolbar__left mr" style="margin-left:10px;margin-top:25px;">
				          <a href="/#/" class="btn btn--l btn--white btn--icon" lx-ripple> <button class="btn btn--m btn--blue btn--raised"> 
				                <i class="mdi mdi--arrow-back"></i>
				            </button></a>
				        </div>
                    <font color=\"#black\">La realizacion de registro ha sido correcta.
                     ingrese con su cuenta en la pagina principal</font>
                    				
                </div>
                
            </div>
