#selechos{
	margin-left:200px;
	width:400px;
}
#seleces{
	margin-top:20px;
	margin-left:200px;
	margin-bottom:20px;
	width:750px;
}

#minies{
	margin-bottom:20px;
}
#botoncita{
	
	margin-top:25px;
	margin-left:125px;
}
#cuadroencita{
	float:right;
	margin-right:220px;
}
