html {
	background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
	font-family: 'roboto', sans-serif;
    background-color: transparent;
    
}

#pag{
    width: 1024px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    
}
.toolbar {
	background-color: #2196F3;
	color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.list-row a {
	text-decoration: none;
	color: #333;
}

#new-blog-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;
}

.content {
	padding-top: 64px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.top-content .text {
	padding-top: 120px;
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}


/***** Registroo *****/
.inner-bg {
    padding: 120px 0 170px 0;
}

.top-content .text {
	padding-top: 120px;
	color: #fff;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

input[type="text"], 
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }


/**cabecera**/
nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

ol,ul{list-style:none;margin:0;padding:0; }

.float-rt{float:right;}/* float right */

.clear{clear:both;}/* clear float */


.wrap {
	width:80%;
	margin: 0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.header {
	background:#23272a;
	padding:20px 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.header_top {
	padding-bottom:25px;
}
.logo {
	float: left;
}
.header_top_right{
	float:right;
	padding-top:10px;
}
.search_box span{
   color:#5b5b5b;
   margin-right:10px;
}
.search_box form{
	 background:#151719;
	 position: relative;
	 display:inline-block;
	 padding-left:18px;
}
.search_box form:after{
	content:'';
	position:absolute;
	left:0;
	border-width:18px 0px 18px 18px;
	border-style:solid;
	border-color:rgba(255, 0, 0, 0) rgba(0, 0, 255, 0) rgba(0, 128, 0, 0) #23272a;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.85em;
	color: #acacac;
    height: 35px;
	width:75%;
	-webkit-apperance:none;
	margin:0;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../assets/img/search.png) no-repeat center;
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	outline:none;
	padding:0;
}
/** Navegador **/
.navigation{
	background:white;
    
	position:relative;
}
.navigation span.left-ribbon{
	position: absolute;
	left: -40px;
	top: 8px;
	width: 40px;
	height:60px;
	background: url(../assets/img/left-fold.png) no-repeat;
	}
.navigation span.right-ribbon{
	position: absolute;
	right: -40px;
	top: 8px;
	width: 40px;
	height:60px;
	background: url(../assets/img/right-fold.png) no-repeat;
}

 
nav {
    position: relative;


	margin:10px auto;
	max-width:1000px;
	width:99%;
}
 
nav ul {
	list-style:none;
}
 
nav > ul {
	display:table;
    overflow:hidden;
	width:100%;
	background:#000;
	
}
 
nav > ul li {
	display:table-cell;
}
 
/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}
 
nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;

	overflow:hidden;
	height:0%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
 
nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background:black;
}
 
nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-60px;
    z-index: ;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
 
nav > ul > li > a:hover > span {
	top:0;
}


.header_bottom{
	padding:8%  0 2%;
}
.slider-text{
	float:left;
	width:50%;
}
.slider-text h2{
	color:#e44f2b;
	font-size:40px;
}
.slider-text p{
	color:#black;
	font-size:20px;
	margin:20px 0;
}


@media only screen and (max-width: 1366px) {
	.wrap{
		width:90%;
	}
}


/**fin cabecera**/
.container-fluid.imagen-centro{
    margin-top: 10px;
    background-image: url(../img/img-central.jpg);
    background-size: 100% 300px;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;

    border-radius: 40px;
}
